{# src/ABS/BlogBundle/Resources/views/Page/index.html.twig #}
{% extends 'ABSBlogBundle::layout.html.twig' %}

{% block body %}
    Articles MDC Fever
        <div class="row">
            <article class="col-lg-offset-1 col-lg-10">
            	<br>
            	Article1
            	<br><br>
            </article>
            <article class="col-lg-offset-1 col-lg-10">
                <br>
                Article2
                <br><br>
            </article>
            <article class="col-lg-offset-1 col-lg-10">
                <br>
            	Article3
                <br><br>
                </article>
            </div>
{% endblock %}