{% extends "::base.html.twig" %}
{% block body %}
<h1>Ajouter un figurine</h1>

<form action="{{path("abs_blog_add_test") }}" method="post" enctype="multipart/form-data">
	{{form_widget(form)}}


	<input type="submit">

</form>

{% endblock %}