{% extends "::base.html.twig" %}
{% block body %}

		<article>
			<header>
				<h2>{{figurine.name}}</h2>
				{% if figurine.path %}
				<td><img id="picture" src="{{ asset('uploads/figurines/'~figurine.name~'.'~figurine.path) }}"/></td>
				{% endif %}
				<h3>{{figurine.price}}€</h2>
				<h3><a href="{{figurine.url}}"><button>More details</button></a></h3>
				
			</header>
			
			

		</article>

{% endblock %}